<div class="profile-container">
  <h2>Mon Profil</h2>

  <div *ngIf="loading">⏳ Chargement...</div>
  <div *ngIf="errorMessage" class="error">❌ {{ errorMessage }}</div>
  <form *ngIf="!loading" [formGroup]="profileForm" (ngSubmit)="onSubmit()">
    <div>
      <label>Nom</label>
      <input formControlName="name" type="text"/>
    </div>
    <div>
      <label>Email</label>
      <input formControlName="email" type="email"/>
    </div>
    <div>
      <label>Âge</label>
      <input formControlName="age" type="number"/>
    </div>
    <div>
      <label>Genre</label>
      <select formControlName="gender">
        <option value="">-- Choisir --</option>
        <option value="male">Homme</option>
        <option value="female">Femme</option>
      </select>
    </div>
    <div>
      <label>Rôle</label>
      <input formControlName="role" type="text"  />
    </div>

    <button type="submit" [disabled]="profileForm.invalid">Enregistrer</button>
  </form>

  <p *ngIf="successMessage" class="success">{{ successMessage }}</p>
</div>
